---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A propos | Tambon Robyn" description="A propos de Tambon Robyn">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Moi"
				tagline="Merci d'être passé. Lisez ci-dessous pour en savoir plus sur moi et mon parcours."
			>
				<img
					width="1553"
					height="873"
					src="/assets/CV2025.png"
					alt="CV Tambon Robyn"
				/>
			</Hero>

			<section>
				<h2 class="section-title">L'informatique pour moi</h2>
				<div class="content">
					<p>
						L'informatique est pour moi une passion, je me plaît énormément dans ce domaine
						qui regroupe tellement de nouvelles technologies, aussi passionante les unes que les autres,
						j'aime vraiment decouvrir de nouveaux languages, de nouvelles méthodes pour améliorer la qualité
						du resultat.	
					</p>
				
			</section>
			<section>
				<h2 class="section-title">Diplôme</h2>
				<div class="content">
					<p>Bts Système Numérique option Informatique et réseau</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">En cours</h2>
				<div class="content">
					<p>BUT Informatique parcours : Réalisations d'Applications Conception, Développement, validation</p>
				</div>
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
